<!DOCTYPE html >
    <li class="pk_log_j" xmlns:th="https://www.thymeleaf.org/">在[ <span style="font-size:24px;">131</span>
        层]你(7181)遭遇了[BOSS的]NPC(52000血|7605攻|1950速)
    </li>
    <li class="pk_log_g">傲娇LOLI娇蛮音CD发挥作用，强制百分比扣除对方生命值，对方当前生命值(39936)</li>
    <li class="pk_log_g">你拥有一个魔法护盾(1860)，护盾本身不计算护甲，每次战斗自动补满。</li>
    <li class="pk_log_g">[抵消效果]双方均（减少灵活之和 x 33% =345）和（减少智力之和 x 33% =329）</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-1378伤害<span style="color:#FF0000;">+412反弹</span>(护盾-1860)<span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：<span style="color:#ff0000;">暴击！</span>对方受到-947伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-2497伤害<span style="color:#FF0000;">+746反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：对方受到-770伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-3615伤害<span style="color:#FF0000;">+1080反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span>你受到-3901伤害<span
            style="color:#FF0000;">+1166反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：对方受到-1067伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-3066伤害<span style="color:#FF0000;">+916反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：对方受到-1364伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-3832伤害<span style="color:#FF0000;">+1145反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span>你受到-3941伤害<span
            style="color:#FF0000;">+1178反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：对方受到-1660伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-3621伤害<span style="color:#FF0000;">+1082反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：对方受到-1957伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-4189伤害<span style="color:#FF0000;">+1252反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_i">你发起了进攻：<span style="color:#0000ff;">破空斩！</span>对方受到-8656伤害</li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-4555伤害<span style="color:#FF0000;">+1361反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_u">被攻击：<span style="color:#ff0000;">暴击！</span><span
            style="color:#0000ff;">狂暴怒吼！</span>你受到-4759伤害<span style="color:#FF0000;">+1422反弹</span><span
            style="color:#00974B;">+2904恢复</span></li>
    <li class="pk_log_f">你被击败了</li>
    <li class="pk_log_v">敌人掉落了[ 26 个 传奇盒子 ]</li>
